.wrapper__216eb.guilds__2b93a, .sidebar_e031be{
    position: absolute;
    opacity: 0.05%;
    z-index: 30;
    transition-duration: var(--transition-time);
}

/* Sidebars */

.wrapper__216eb.guilds__2b93a{
    height: 80%;
    margin-top: 48.1px;
    z-index: 30;
    right: var(--server-position);
    width: 72px;
    visibility: none;
}

.sidebar_e031be{
    height: 90%;
    right: var(--channel-position);
    width: 90px;
}

/* Hover */

.wrapper__216eb.guilds__2b93a:hover, .sidebar_e031be:hover{
    height: 100%;
}

.wrapper__216eb.guilds__2b93a:hover{
    width: 72px;
    opacity: 100% !important;
}

.sidebar_e031be:hover{
    opacity: 100%;
    width: 250px;
}